/* Global styles */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0px;
}

h4 {
    font-size: 14px;
    color: #494949;
    font-weight: 400;
}

/* Header styles */

#header {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 15px;
    position: sticky; /* Sticky header */
    top: 0;
    width: 100%;
    z-index: 100; /* Ensure it's above other content */
}

#header h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

/* Page layout */

#schedule-editor {
    display: flex;
    max-width: 100%;
    height: auto;
}

.sidebar {
    flex-basis: 250px;
    background-color: #f6f6f9;
    padding: 20px;
    transition: flex-basis 0.2s ease, padding 0.2s ease;
}

/* Sidebar styles */

.sidebar button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(59, 59, 59);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
}

#create-schedule-btn {
    background-color: #7CEADD;
}

#create-schedule-btn:hover {
    background-color: #6DDACC;
}

#delete-schedule-btn {
    background-color: #F8B1B1;
}

#delete-schedule-btn:hover {
    background-color: #E8A1A1;
}

.filter-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#schedule-filter {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#info-btn {
    width: 30px;
    height: 30px;
    font-weight: bold;
    vertical-align: middle;
    cursor: help;
    padding: 0;
    margin: 0;
}

#info-btn:hover {
    background-color: #d4d4d4;
}

#schedule-names {
    overflow-y: auto;
    max-height: calc(100vh - 250px);
}

.sidebar h3 {
    font-size: 16px;
    font-weight: 300;
    color: #9e9e9e;
}

#schedules-list {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.schedule-item {
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
    font-size: 14px;
    color: #424242;
}

#schedules-list li:hover {
    background-color: #ddd;
}

/* Main content styles */

.main {
    flex-grow: 1;
    padding: 20px 50px 20px 50px;
    height: auto;
    overflow-y: auto;
}

hr {
    border-top: 1px solid #bbb;
}

#schedule-operation-container {
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    padding: 0px 20px 10px 20px;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #f1f1f1;
    overflow-y: auto;
}

#add-operation-btn {
    background-color: #7CEADD;
    color: black;
    font-size: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-operation-btn:hover {
    background-color: #6DDACC;
}

/* Context menu styles */

.context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    color: #7e7e7e;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu li {
    padding: 5px 25px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #f0f0f0;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .sidebar {
        flex-basis: 70px;
        padding: 20px;
    }

    .main {
        padding: 25px;
    }
}

@media only screen and (max-width: 576px) {
    body {
        overflow: auto;
    }
    #schedule-editor {
        flex-direction: column;
    }
    #schedule-names {
        max-height: 150px; 
    }

}
